

.box{
    text-align: center;
    padding-top: 50px;
    border: 1px,black, solid;
    height: 300px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.App{
    text-align: center;
    padding-left: 40%;
    padding-top: 10%;
    }

    .Add{
height: 60px;
width: 120px;
background-color: green;
margin: auto;
border-radius: 12px 12px;
margin-right: 10px;
  }

    .Sub{
        height: 60px;
width: 120px;
        background-color: red;
        margin: auto;
        border-radius: 12px 12px;
        
    }

    .Res{
        height: 60px;
        width: 120px;
        margin-top: 20px;
        background-color: blue;
       
        border-radius: 12px 12px; 
    }